*
!README.md

!.gitignore
!.gitconfig

!.zshrc

!.config/
!.config/**/*

!walls/
!walls/**/*

!.warp/
!.warp/**/*

!.factory/
!.factory/**/*

!.pi/
!.pi/agent/
!.pi/agent/settings.json
!.pi/agent/mcp.json
!.pi/agent/AGENTS.md

!.claude/
!.claude/**/*

!.agents
!.agents/**/*

# FVM Version Cache
.fvm/

# MacOS Cache
**/.DS_Store
