*
!README.md
!.gitignore
!starship.toml
!nvim/
!nvim/**/*
!kitty/
!kitty/**/*
!yabai/
!yabai/**/*
!skhd/
!skhd/**/*
!fish/
!fish/**/*
!zellij/
!zellij/**/*
!fastfetch/
!fastfetch/**/*
!wezterm/
!wezterm/**/*
!borders/
!borders/**/*
!ghostty/
!ghostty/**/*
!btop/
!btop/**/*
